#div1home__container {
  display: flex;
  background-color: rgb(67, 20, 99);
  margin-top: 200px;
  margin-bottom: 100px;
 
  border-radius: 8px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#introtext__container {
  width: 900px;
  flex: 1.5;
}

#navdiv__container {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  margin: 0;
}

#aboutus__container {
  display: flex;
  margin-top: 200px;
  margin-bottom: 100px;
  max-width: 1200px;
}

#aboutusp__container {
  display: flex;
  margin-top: 20px;
  background-color: rgb(254, 254, 254, 0.5);
  border-radius: 40px;
}

#socialsdiv__container {
  display: flex;
  margin-top: 200px;
  margin-bottom: 100px;
  width: 1200px;
}

#socialstext__container {
  background-color: #b7583b;
  padding: 15px;
  border-radius: 40px;
}

#maintextdiv__container {
  justify-content: center;
  background-color: rgb(67, 20, 99, 0.3);
  border-radius: 40px;
  padding: 20px;
  display: block;
}

#divmain__container {
  max-width: 1200px;
}
