nav > ul > li > a {
  color: rgb(254, 254, 254);
  background-color: rgb(123, 37, 143);
  border: solid rgb(0, 0, 0) 1px;
  border-radius: 8px;
  box-shadow: 6px 8px 6px rgb(26, 20, 99);
  object-fit: fill;
  margin: auto 50px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  margin: auto 50px;
  font-size: 1.5em;
  text-decoration: none;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%;
}

nav {
  position: relative;
}

nav > ul {
  position: absolute;
}

nav > ul > li {
  display: block;
}

nav > ul > li > a:hover {
  color: rgb(254, 254, 254);
  background-color: rgb(88, 38, 99);
  transition: 1s;
  font-size: 2em;
}

nav > ul > li > a:active {
  color: rgb(88, 38, 99);
  background-color: rgb(254, 254, 254);
}
