/* Color pallet: 
main: (color: #902bf5)
secondary: (color: #f361fb)
Lettes: (color: #1a1463)
Buttons: (color: #fc7b54)
Textfield: (color: #fefefe)
*/


body{
    background-color: rgb(144, 43, 245);
}