/* Color pallet: 
main: (color: #902bf5)
secondary: (color: #f361fb)
Lettes: (color: #1a1463)
Buttons: (color: #fc7b54)
Textfield: (color: #fefefe)
*/

body {
    background: -webkit-radial-gradient(circle, #8a2be2, #4b0082, #9400d3);
    height: 100vh;
}
